{% if object.getLogo  %}
    <td>
        <a href="/vendor/logo/{{ object.getLogo }}" data-lightbox="image-1" data-title="My caption">
            <img  data-lightbox="image-1" data-title="My caption" width="100px" src="/vendor/logo/{{ object.getLogo }}">
        </a>
    </td>
{% endif %}